<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6b68b4">  <td>18/10/28 16:21:31</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:pomTestCase.TC001_LoginLogOut@489115ef]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@402115881</td>   <td></td> </tr>
<tr bgcolor="6decaa">  <td>18/10/28 16:21:34</td>   <td>3638</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginLogOut.loginLogOut(java.lang.String, java.lang.String)[pri:0, instance:pomTestCase.TC001_LoginLogOut@489115ef]">loginLogOut</td> 
  <td>main@402115881</td>   <td></td> </tr>
<tr bgcolor="6decaa">  <td>18/10/28 16:21:34</td>   <td>3685</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginLogOut.loginLogOut(java.lang.String, java.lang.String)[pri:0, instance:pomTestCase.TC001_LoginLogOut@489115ef]">loginLogOut</td> 
  <td>main@402115881</td>   <td></td> </tr>
<tr bgcolor="6decaa">  <td>18/10/28 16:21:31</td>   <td>693</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_LoginLogOut.setData()[pri:0, instance:pomTestCase.TC001_LoginLogOut@489115ef]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@402115881</td>   <td></td> </tr>
</table>
