<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aed9f0">  <td>18/11/03 14:08:28</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:pomTestCase.TC003_Mergelead@4e1d422d]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@727001376</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/11/03 14:08:29</td>   <td>640</td> <td>&nbsp;</td><td title="&gt;&gt;TC003_Mergelead.setData()[pri:0, instance:pomTestCase.TC003_Mergelead@4e1d422d]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@727001376</td>   <td></td> </tr>
<tr bgcolor="aed9f0">  <td>18/11/03 14:08:31</td>   <td>2559</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String)[pri:0, instance:pomTestCase.TC003_Mergelead@4e1d422d]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@727001376</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/11/03 14:08:44</td>   <td>15661</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003_Mergelead.MergeLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:pomTestCase.TC003_Mergelead@4e1d422d]">MergeLead</td> 
  <td>main@727001376</td>   <td></td> </tr>
<tr bgcolor="aed9f0">  <td>18/11/03 14:08:59</td>   <td>30465</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:pomTestCase.TC003_Mergelead@4e1d422d]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@727001376</td>   <td></td> </tr>
</table>
